.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gameresult{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.result::before{
    content: "결과";
    font-size: 16px;
    color: rgb(160, 158, 158);
    margin-right: 20px;
}
.computer::before {
    content: "컴퓨터가 낸 것";
    font-size: 16px;
    color: rgb(160, 158, 158);
    margin-right: 20px;
}